anime-downloader/mpv-config.conf
anime-downloader/watch.json
balena-etcher-electron/
cef_user_data/
Code/
dconf/
enchant/
glava/
google-chrome/
jupyter/
libreoffice/
lxqt/
mpv/watch_later/
mssqlcli/*
!mssqlcli/config
NuGet/
octave/qt-settings
pulse/
qutebrowser/*
!qutebrowser/config.py
!qutebrowser/custom.css
ranger/plugins/__init__.py
ssh/*
!ssh/ssh
!ssh/*.pub
unity3d/
VirtualBox/
wakatime/
xfce4/terminal/accels.scm
polybar/open-weather-api-key
coc/
discord/
GIMP/
Postman/
