anime-downloader/mpv-config.conf
anime-downloader/watch.json
balena-etcher-electron/
cef_user_data/
Code/
dconf/
enchant/
glava/
google-chrome/
jupyter/
libreoffice/
lxqt/
NuGet/
octave/qt-settings
pulse/
unity3d/
VirtualBox/
wakatime/
xfce4/terminal/accels.scm
