configuration {
    terminal: "xfce4-terminal";
    run-shell-command: "{terminal} -x {cmd}";
    icon-theme: "Papirus";
    show-icons: true;
    // Automatically detect DPI
    dpi: 0;
}

@theme "/home/jordan/.config/rofi/theme.rasi"
